body.add-task-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#add-task-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#add-task-field-design {
    background-color: white;
    width: 360px;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgba(161, 161, 161, 0.7);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

#add-task-field-design h2 {
    text-align: center;
    margin-bottom: 20px;
}

#add-task-form {
    display: grid;
    row-gap: 15px;
}

.add-task-form {
    display: grid;
    grid-template-columns: 100px 1fr;
    align-items: center;
    gap: 10px;
}

.add-task-form input {
    border-radius: 8px;
    border: 1px solid grey;
    padding: 8px;
}

#add-task-form button {
    margin-top: 10px;
}