@import url('https://googleapis.com');

body {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    justify-content: end;
    align-content: center;
    padding-right: 100px;
    height: 100vh;
    background-color: #06A27E; 
    background-image: 
        radial-gradient(circle at 75% 20%, #97FF90 0%, transparent 60%),
        radial-gradient(circle at 30% 40%, #6D8CE1 0%, transparent 70%),
        radial-gradient(circle at 10% 90%, #87DEF3 0%, transparent 50%);
}

form {
    display: grid;
    row-gap: 20px;
    border-top: 1px solid rgba(161, 161, 161, 0.4);
    padding-top: 25px;
}

.login-form {
    align-items: center;
    display: grid;
    grid-template-columns: 100px 1fr;
    border-radius: 25px;
}

.login-form input {
    border-radius: 10px;
    border: 1px solid grey;
    padding: 10px;
}

#login-field-design {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    align-content: end;
    height: 500px;
    width: 350px;
    padding: 40px 30px 70px 30px;
    border-radius: 25px;
    background-color: white;
    border: 1px solid rgba(161, 161, 161, 0.7);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
}

#welcome-text {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    align-content: center;
    padding-right: 10px;
    padding-bottom: 300px;
}

#sign-up {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    padding-top: 10px;
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    text-decoration: none;
}

#main-login {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

body.sign-up-body {
    justify-content: center;
    align-content: center;
    padding-right: 0;
}

#sign-up-page {
    display: grid;
    place-items: center;
    padding-top: 50px;
}

#sign-up-field-design {
    background-color: white;
    width: 1200px;
    height: 700px;
    border-radius: 25px;
    border: 1px solid rgba(161, 161, 161, 0.7);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

body.homepage {
    padding: 40px;
}

#display-tasks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    background-color: white;
    padding: 20px;
    width: 1200px;
    border-radius: 25px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    font-family: 'Poppins', sans-serif;
}

#display-tasks .task-name {
    text-align: left;
}

#display-tasks .due-date {
    text-align: right;
}