<!DOCTYPE html>
<html>

<head>
    <title>Task Manager App</title>
    <link rel="stylesheet" href="../static/css/shared.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
</head>

<body class="homepage">

    <div class="dashboard-actions">

        <div class="left-actions">
            <a class="dashboard-btn" href="add_task.html">Add Task</a>

            <button id="delete-mode-btn" class="dashboard-btn delete-btn">
                Delete Task
            </button>
        </div>

        <button id="logout-btn" class="dashboard-btn logout-btn">
            Logout
        </button>

    </div>

    <div id="display-tasks">
        <p class="task-name">Task Name</p>
        <p class="due-date">Due Date</p>
    </div>

    <script src="../static/js/dashboard.js" defer></script>
    <script src="../static/js/delete_task.js" defer></script>
    <script src="../static/js/logout.js" defer></script>

</body>

</html>